{% extends "layout.html" %}
{%block title %}About Us{% endblock %}
{%block content %}
<div style="position:relative; top: 100px">
<p>Recipease was born out of a sleepytime morning conversation about my physical recipe box. Index cards have charm, but as we increasingly live on the internet, many of the recipes we use are plucked straight from there.</p>

<p>Wouldn't it be nice, said we, if there were a standard format for recipes?? Then we could trade cards with each other, print them to physical media, and grab new finds straight from the internet to modify and make our own? (You can tell that one of us is a software architect.)</p>

<p>So here you have it. Use this tool to:
  <ul>
    <li>Save your own recipes</li>
    <li>Import new ones from the internet</li>
    <li>Take notes and make changes</li>
    <li>Generate shopping lists</li>
    <li>Make nice printable recipe cards to keep in your very own recipe box</li>
  </ul>
</p>
{% endblock %}