<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %} - Recipease</title>
    {% endblock %}
</head>
<body>
    <div id="menubar">{% block menubar %}{% include "menu.html" %}{% endblock %}</div> 
    <div id="content" class="center" width="100%">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2020 by <a href="http://perpetualmayhem.com/">Perpetual Mayhem, LLC</a>.
        {% endblock %}
    </div>
</body>
</html>